node_modules
coverage
.idea
out
.yarn
.rdf-test-suite-cache
.eslintcache
documentation
tsconfig.tsbuildinfo
*.log
/.*
**/dist

engines/*/lib/**/*.cjs
engines/*/lib/**/*.js
engines/*/lib/**/*.js.map
engines/*/lib/**/*.d.ts
engines/*/test/**/*.cjs
engines/*/test/**/*.js
engines/*/test/**/*.js.map
engines/*/test/**/*.d.ts
engines/*/spec/**/*.cjs
engines/*/spec/**/*.js
engines/*/spec/**/*.js.map
engines/*/spec/**/*.d.ts
engines/*/spec/**/*.ttl

packages/*/lib/**/*.cjs
packages/*/lib/**/*.js
packages/*/lib/**/*.js.map
packages/*/lib/**/*.d.ts
packages/*/test/**/*.cjs
packages/*/test/**/*.js
packages/*/test/**/*.js.map
packages/*/test/**/*.d.ts
!packages/test-utils/lib/matchers/vitest.ts
